<!------ Tab and Window Title ------>
@model otr_project.Models.RegisterModel
@{
    ViewBag.Title = "Rambla | Activate Account";
    var regionList = ViewBag.RegionId as SelectList;
}
<!-- ASK: Assume we can load this at the bottom and move to separate script?-->
<script type="text/javascript">
    $(function () {
        $.get("@Url.Content("~/Search/Index/1")", function(data){
            $('#popular-items').html(data);
        });
    });
</script>

@if (Session["ACTIVATED_USER"] != null)
{
    Session["ACTIVATED_USER"] = null;
    <div class="row-fluid">
        <div class="span12">
            <h2>Awesome! Your account has been activated.</h2>
            <h4>
                Please go ahead and try renting on Rambla.
            </h4>
        </div>
    </div> 
    <hr />
    <div class="row-fluid tpad20">
        <h3>Checkout some popular listings:</h3>
    </div>
    <div id="popular-items" class="row-fluid">
                    
    </div>
}
else
{
    <div class="row">
        <div class="span6 offset3 center">
            <h2>Activate your account</h2>
                @using (Html.BeginForm("ActivateAccount", "Account", FormMethod.Post, new { @class = "form-vertical well" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="controls">
                        @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", @class = "span4 input-fatty" })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "span4 input-fatty" })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", @type="hidden" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.City, new { placeholder = "City", @type = "hidden" })
                        @Html.ValidationMessageFor(m => m.City)
                    </div>
                    <div class="controls">
                        @Html.DropDownList("RegionId", regionList, "Province", new { @type = "hidden" })
                        @Html.ValidationMessageFor(m => m.RegionId)
                    </div>
                    <div class="controls">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", type = "password", @class = "span4 input-fatty" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="controls">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", type = "password", @class = "span4 input-fatty" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div class="controls tpad20">
                        <button type="submit" class="btn btn-primary btn-large" style="width:70%">Activate</button>
                    </div>                        
                }
        </div>
    </div>
}