@model IEnumerable<otr_project.Models.MessageModel>

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Rambla | Messages";
    ViewBag.AccountPageTitle = "Messages";
}

@{
    otr_project.Models.MarketPlaceEntities db = new otr_project.Models.MarketPlaceEntities();
}

<!--div class="row-fluid">
    <div class="span12 msgs_tab">
        <ul class="nav nav-tabs">
            <li id="active_listings" class="active"><a href="#">Active Listings</a></li>
            <li id="other_listings" ><a href="#">Other Listings</a></li>
        </ul>
    </div>
</div-->

<div class="row-fluid">
    <div class="span12 msgs_body">
        <div class="loading_text row-fluid msgs_row_item">
            <div class="span12">
                Loading ... 
            </div>
        </div>
        @if (Model.Count() <= 0)
        {
            <div class="loading_text row-fluid msgs_row_item">
                <div class="span12">
                    Your Rambla inbox is empty
                </div>
            </div>
        }
        else
        {
            <div id="messages_list">
                @foreach (var message in Model)
                {
                    <div class="row-fluid msgs_row_item">
                        @{
                            var fromUser = db.Users.Find(message.From);
                            var toUser = db.Users.Find(message.To);
                        }
                        
                        <div class="span3">
                            @if (User.Identity.Name != fromUser.Email)
                            {
                                if (fromUser.isFacebookUser)
                                {
                                    <img src="http://graph.facebook.com/@fromUser.FacebookUserId/picture?type=large" class="msg_pic" />
                                }
                                else if (fromUser.ProfilePicture != null)
                                {
                                    <img src="@Url.Content("~/User/GetUserImage/" + fromUser.ProfilePicture.Id)" class="msg_pic" />
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Content/images/empty_profile_picture.png")" class="msg_pic" />
                                }
                                
                                <div>
                                    <strong>@(fromUser.FirstName + " " + fromUser.LastName)</strong>
                                </div>
                            }
                            else
                            {
                                if (toUser.isFacebookUser)
                                {
                                    <img src="http://graph.facebook.com/@toUser.FacebookUserId/picture?type=large" class="msg_pic" />
                                }
                                else if (toUser.ProfilePicture != null)
                                {
                                    <img src="@Url.Content("~/User/GetUserImage/" + toUser.ProfilePicture.Id)" class="msg_pic" />
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Content/images/empty_profile_picture.png")" class="msg_pic" />
                                }
                                
                                <div>
                                    <strong>@(toUser.FirstName + " " + toUser.LastName)</strong>
                                </div>
                            }
                        </div>

                        <div class="span9 msg_subject">
                            @if (message.isRead == false)
                            {
                                <strong>
                                    <a href="#dialog-@message.Id" id="msgSubject-@message.Id" class="msgSubject" data-toggle="modal">@message.Subject</a>
                                </strong>
                            }
                            else
                            {
                                <a href="#dialog-@message.Id" id="msgSubject-@message.Id" class="msgSubject" data-toggle="modal">@message.Subject</a>
                            }    
                        </div>
                        
                        <div class="modal hide fade in" id="dialog-@message.Id">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                @if (User.Identity.Name != fromUser.Email)
                                {
                                    <h3>Conversation with @fromUser.FirstName</h3>
                                }
                                else
                                {
                                    <h3>Conversation with @toUser.FirstName</h3>
                                }
                            </div>
                            <div id="msgDetail-@message.Id" class="modal-body msgDetail">
                                @{Html.RenderAction("GetMessage", "User", new { id = message.Id });}
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<!--script type="text/javascript">
    $(function () {
        $(".msgDetail").dialog({
            autoOpen: false,
            modal: true,
            resizable: false,
            width: 500
        });

        $(".msgSubject").click(function () {
            $("#msgDetail-" + $(this).attr("data-id")).dialog("option", { title: $(this).html() });
            $("#msgDetail-" + $(this).attr("data-id")).dialog("open");
        });
    });
</script-->